{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<header>
		<section class="menu-single">
			<div class="container">
				<div class="row nav-wrapper">
					<div class="col-md-6 col-sm-6 col-xs-6 text-left">
						<a href="{{ siteUrl }}" class="link-light"><img src="{{ siteUrl }}assets/img/falcon-sm.png" alt="{{ siteName }}"></a>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
						<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
					</div>
				</div>
			</div>
		</section>
	</header>
	
	<article class="container spacing-v">
		<div class="col-xs-12 col-sm-8">
			<h1 class="no-margin">{{ entry.title }}</h1>
			<p class="meta-date">Posted on {{ entry.postDate.format('F d, Y') }}</p>
			<div class="introduction">
				{{ entry.articleIntro }}
			</div>
			{{ entry.body }}
		</div>

		<aside class="col-xs-12 col-sm-4 aside-news">
			{% set allEntries = craft.entries.section('news').limit(null) %}
				{% for year, entriesInYear in allEntries | group("postDate.year") %}
					<h2>{{ year }}</h2>
					<ul>
							{% for month, entriesInMonth in entriesInYear | group("postDate|date('F')") %}
									<h3>{{ month }}</h3>
									<ul>
											{% for entry in entriesInMonth %}
													<li>
														<i class="fa fa-chevron-right"></i>
														{{ entry.getLink() }}
													</li>
											{% endfor %}
									</ul>
							{% endfor %}
					</ul>
			{% endfor %}
		</aside>
	</article>
{% endblock %}
