/* ! normalize.css v1.0.0 | MIT License | git.io/normalize */
/* ==========================================================================
HTML5 display definitions
========================================================================== */
/*
* Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/*
* Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
* Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0; }

/*
* Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3, * and Safari 4.
* Known issue:no IE 6 support.
*/
[hidden] {
  display: none; }

/* ==========================================================================
Base
========================================================================== */
/*
* 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevents iOS text size adjust after orientation change, without disabling
*    user zoom.
*/
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
* Addresses `font-family` inconsistency between `textarea` and other form
* elements.
*/
html, button, input, select, textarea {
  font-family: sans-serif;
  font-family: 'Nunito', sans-serif; }

html, body {
  overflow-x: hidden;
  width: 100%; }

/*
* Addresses margins handled incorrectly in IE 6/7.
*/
body {
  margin: 0;
  font-family: 'Nunito', sans-serif; }

/*
* Font Smoothing
*/
html, html a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased; }

/* ==========================================================================
Links
========================================================================== */
/*
* Addresses `outline` inconsistency between Chrome and other browsers.
*/
a:focus {
  outline: thin dotted;
  text-decoration: none; }

/*
* Improves readability when focused and also mouse hovered in all browsers.
*/
a:active, a:hover {
  outline: 0;
  text-decoration: none; }

/* ==========================================================================
Typography
========================================================================== */
/*
* Addresses font sizes and margins set differently in IE 6/7.
* Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5, * and Chrome.
*/
h1 {
  margin: 0 0 0.67em;
  font-size: 2em; }
  h1.footer-logo {
    margin: 0; }

h2 {
  margin: 0.83em 0;
  font-size: 1.5em; }

h3 {
  margin: 1em 0;
  font-size: 1.17em; }

h4 {
  margin: 1.33em 0;
  font-size: 1em; }

h5 {
  margin: 1.67em 0;
  font-size: 0.83em; }

h6 {
  margin: 2.33em 0;
  font-size: 0.75em; }

/*
* Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted; }

/*
* Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
*/
b, strong {
  font-weight: bold; }

blockquote {
  margin: 0px; }

/*
* Addresses styling not present in Safari 5 and Chrome.
*/
dfn {
  font-style: italic; }

/*
* Addresses styling not present in IE 6/7/8/9.
*/
mark {
  background: #ff0;
  color: #000; }

/*
* Addresses margins set differently in IE 6/7.
*/
p, pre {
  margin: 1em 0; }

/*
* Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
*/
code, kbd, pre, samp {
  font-size: 1em;
  font-family: monospace, serif;
  _font-family: 'courier new', monospace; }

/*
* Improves readability of pre-formatted text in all browsers.
*/
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
* Addresses CSS quotes not supported in IE 6/7.
*/
q {
  quotes: none; }

/*
* Addresses `quotes` property not supported in Safari 4.
*/
q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
* Prevents `sub` and `sup` affecting `line-height` in all browsers.
*/
sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
Lists
========================================================================== */
/*
* Addresses margins set differently in IE 6/7.
*/
dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
* Addresses paddings set differently in IE 6/7.
*/
menu, ol, ul {
  padding: 0; }

ol, ul {
  list-style-position: inside; }

/*
* Corrects list images handled incorrectly in IE 7.
*/
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
Embedded content
========================================================================== */
/*
* 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
* 2. Improves image quality when scaled in IE 7.
*/
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
* Corrects overflow displayed oddly in IE 9.
*/
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
Figures
========================================================================== */
/*
* Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
*/
figure {
  margin: 0; }

/* ==========================================================================
Forms
========================================================================== */
/*
* Corrects margin displayed oddly in IE 6/7.
*/
form {
  margin: 0; }

@media (max-width: 979px) {
  input[type="text"],
  input[type="email"],
  label {
    width: 80%; } }

/*
* Define consistent border, margin, and padding.
*/
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0; }

/*
* 1. Corrects color not being inherited in IE 6/7/8/9.
* 2. Corrects text not wrapping in Firefox 3.
* 3. Corrects alignment displayed oddly in IE 6/7.
*/
legend {
  padding: 0;
  border: 0;
  /* 1 */
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
* 1. Corrects font size not being inherited in all browsers.
* 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5, *    and Chrome.
* 3. Improves appearance and consistency in all browsers.
*/
button, input, select, textarea {
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  font-size: 100%;
  /* 1 */
  *vertical-align: middle;
  /* 3 */ }

/*
* Addresses Firefox 3+ setting `line-height` on `input` using ` !important` in
* the UA stylesheet.
*/
button, input {
  line-height: normal; }

/*
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Corrects inability to style clickable `input` types in iOS.
* 3. Improves usability and consistency of cursor style between image-type
*    `input` and others.
* 4. Removes inner spacing in IE 7 without affecting normal text inputs.
*    Known issue:inner spacing remains in IE 6.
*/
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 4 */ }

/*
* Re-set default cursor for disabled elements.
*/
button[disabled], input[disabled] {
  cursor: default; }

/*
* 1. Addresses box sizing set to content-box in IE 8/9.
* 2. Removes excess padding in IE 8/9.
* 3. Removes excess padding in IE 7.
*    Known issue:excess padding remains in IE 6.
*/
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
* 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof).
*/
input[type="search"] {
  /* 2 */
  box-sizing: content-box;
  -webkit-appearance: textfield;
  /* 1 */
  nowhitespace: afterproperty; }

/*
* Removes inner padding and search cancel button in Safari 5 and Chrome
* on OS X.
*/
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
* Removes inner padding and border in Firefox 3+.
*/
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

/*
* 1. Removes default vertical scrollbar in IE 6/7/8/9.
* 2. Improves readability and alignment in all browsers.
*/
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
Tables
========================================================================== */
/*
* Remove most spacing between table cells.
*/
table {
  border-spacing: 0;
  border-collapse: collapse; }

/* ==========================================================================
Global Styles
========================================================================== */
.no-margin {
  margin: 0; }

.group:after {
  content: "";
  display: table;
  clear: both; }

a {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color; }

.nopadding {
  margin: 0 !important;
  padding: 0 !important; }

p {
  font-size: 15px;
  line-height: 25px; }

a {
  color: #4d8230; }
  a.link-light {
    color: #fff; }

a:hover, a:focus {
  color: #a6c198;
  text-decoration: none; }

.texture-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../img/grid.png); }

.hero, section.video, .features-list, .screenshots-intro, footer, section.mailchimp, .latest-news,
.spacing-v {
  padding: 30px 0; }
  @media (min-width: 980px) {
    .hero, section.video, .features-list, .screenshots-intro, footer, section.mailchimp, .latest-news,
    .spacing-v {
      padding: 60px 0; } }

/* ==========================================================================
Buttons
========================================================================== */
.use-btn {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 20px;
  border-radius: 3px;
  background-color: #fff;
  color: #4d8230;
  font-size: 16px; }

.use-btn:hover, .use-btn:focus {
  background-color: #a6c198;
  color: #fff;
  text-decoration: none; }

.learn-btn, .download-btn {
  display: inline-block;
  padding: 18px 46px;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 16px; }

.learn-btn:hover, .download-btn:hover, .learn-btn:focus, .download-btn:focus {
  border-color: #a6c198;
  color: #a6c198;
  text-decoration: none; }

.read-more-btn {
  display: inline-block;
  color: #2e4e1d;
  text-transform: uppercase;
  font-weight: 400; }

.read-more-btn i, .download-btn i {
  margin-left: 5px; }

.showcase .download-btn {
  margin-top: 50px; }

.download .download-btn {
  margin-top: 25px; }

.basic-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  background: #4d8230;
  color: #fff;
  transition: background 0.2s; }
  .basic-button.blue {
    background: #3b5998; }
    .basic-button.blue:hover {
      background: #dfe3ee;
      color: #3b5998; }
  .basic-button:hover {
    color: #4d8230;
    background: #a6c198; }

/* ==========================================================================
Navigation
========================================================================== */
.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0px;
  cursor: pointer; }

.nav-toggle:focus {
  outline: none; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: '';
  position: absolute;
  display: block;
  width: 35px;
  height: 5px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer; }

.nav-toggle span:before {
  top: -10px; }

.nav-toggle span:after {
  bottom: -10px; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.nav-toggle.active span {
  background-color: transparent; }

.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0; }

.nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-toggle.active span:after {
  top: 10px;
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg); }

.navicon {
  position: relative;
  height: 26px; }

.navicon p {
  margin: 1px 50px 0 0; }

.navicon-fixed {
  position: fixed;
  top: 59px;
  right: 143px; }

/* ==========================================================================
Hero
========================================================================== */
.hero {
  position: relative;
  min-height: 800px;
  background: #4d8230 url("../img/hero-01.jpg") no-repeat center center;
  background-size: cover;
  color: #fff; }

.hero h1 {
  margin: 100px 0 20px 0;
  font-weight: 300;
  font-size: 45px; }

.hero h1 span {
  display: inline-block;
  color: #a1a9b0; }

#home {
  width: 100%;
  height: 100%; }

.hero {
  width: 100%;
  height: 100%; }

header i {
  margin-left: 5px; }

/* ==========================================================================
Video
========================================================================== */
section.video i {
  margin-right: 10px;
  color: #2e4e1d;
  vertical-align: middle;
  font-size: 50px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out; }

section.video h1 {
  font-weight: 400;
  font-size: 20px; }

section.video {
  background-color: #f6f7f9; }

section.video a {
  color: #2e4e1d; }

section.video a:hover, section.video a:focus {
  color: #a6c198;
  text-decoration: none; }

section.video a:hover i, section.video a:focus i {
  color: #a6c198; }

/* ==========================================================================
Custom Slider Controls (Flickity)
========================================================================== */
.flickity-page-dots .dot {
  width: 13px;
  height: 13px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }

.flickity-page-dots .dot.is-selected {
  background: white; }

/* ==========================================================================
Features Slider
========================================================================== */
.features-bg {
  position: relative;
  min-height: 400px;
  background: url("../img/features-intro-01.jpg") no-repeat center center;
  background-size: cover; }

.features-img {
  width: 100%;
  height: 400px;
  text-align: center;
  line-height: 400px; }

.features-slider {
  position: relative;
  padding: 11% 100px 10% 100px;
  height: 400px;
  background-color: #4d8230; }

.features-slider ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.features-slider ul li {
  width: 100%; }

.features-slider li h1 {
  margin-bottom: 15px;
  color: #fff;
  font-weight: 400;
  font-size: 22px; }

.features-slider li p {
  color: #fff;
  font-size: 14px; }

.features-intro-img {
  position: relative; }

.slides li h1 {
  margin: 0;
  padding: 0; }

.features-slider .flickity-page-dots {
  text-align: left;
  margin-top: 50px;
  position: static; }

.features-slider .flickity-page-dots .dot {
  margin: 0 12px 0 0; }

/* ==========================================================================
Features List
========================================================================== */
.features-list h1 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #4d8230;
  font-size: 20px; }

.features-list p {
  margin-bottom: 20px;
  color: #333; }

.feature-content {
  display: inline-block;
  margin-left: 0;
  width: 65%; }

.feature-icon {
  display: inline-block;
  margin-right: 25px;
  width: 90px;
  height: 90px;
  border: solid 2px #4d8230;
  border-radius: 50%;
  vertical-align: top;
  text-align: center;
  font-size: 25px;
  line-height: 90px;
  overflow: hidden; }
  .feature-icon img {
    max-width: 100%;
    vertical-align: top; }

.feature-icon i {
  color: #4d8230; }

/* ==========================================================================
Blockquote
========================================================================== */
blockquote {
  margin: 40px 0 0;
  padding: 0;
  border: none; }

blockquote p {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 70%;
  vertical-align: top;
  font-style: italic; }

blockquote .avatar {
  display: inline-block;
  margin-right: 20px;
  width: 64px;
  height: 64px;
  vertical-align: middle; }

blockquote .logo-quote {
  display: inline-block;
  margin: 0 0 0 90px; }

/* ==========================================================================
Showcase
========================================================================== */
.showcase {
  background: url("../img/bg-1.jpg") no-repeat center center fixed;
  background-size: cover; }

.showcase h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: 400;
  font-size: 22px; }

.showcase p {
  margin-bottom: 25px;
  color: #fff; }

.device {
  position: absolute;
  left: 20%;
  min-height: 676px;
  width: 359px;
  background: url("../img/iphone-skeleton.png") no-repeat center center; }

.device-content {
  position: absolute;
  top: 115px;
  left: 56px;
  width: 247px;
  height: 445px;
  background: rgba(0, 0, 0, 0.3); }

.device-content img {
  width: 247px;
  height: 445px; }

.showcase-wrap {
  position: relative;
  padding: 100px 0;
  min-height: 600px; }

.showcase-slider ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.showcase-slider .flickity-page-dots {
  bottom: 20px; }

/* ==========================================================================
Screenshots Intro
========================================================================== */
.screenshots-intro {
  background-color: #f6f7f9; }

.screenshots-intro h1 {
  margin-bottom: 20px;
  color: #4d8230;
  font-weight: 400;
  font-size: 22px; }

.screenshots-intro p {
  margin-bottom: 25px;
  color: #333; }

/* ==========================================================================
Screenshots
========================================================================== */
.screenshots ul {
  margin: 0;
  padding: 0;
  width: 100%; }

.screenshots ul li {
  float: left;
  min-height: 100%;
  width: 25%;
  background-color: #000;
  list-style: none; }

.screenshots figure {
  position: relative;
  overflow: hidden; }

.screenshots figure img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.screenshots figure:hover img, .screenshots figure:focus img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.screenshots figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25% 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 130, 48, 0.85);
  text-align: center;
  font-size: 15px;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.screenshots figcaption a {
  color: #fff; }

.screenshots figcaption a:hover, .screenshots figcaption a:focus {
  color: #a6c198; }

.screenshots figure:hover figcaption, .screenshots figure:focus figcaption {
  opacity: 1; }

.visible {
  opacity: 1; }

.screenshots figure.cs-hover figcaption {
  opacity: 1; }

.screenshots figcaption i {
  font-size: 35px; }

.screenshots figcaption p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 400; }

.screenshots figcaption .caption-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -100px;
  width: 200px;
  -webkit-transform: translate(0px, 15px);
  -ms-transform: translate(0px, 15px);
  transform: translate(0px, 15px);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.screenshots figure:hover figcaption .caption-content, .screenshots figure:focus figcaption .caption-content {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

/* ==========================================================================
Download Now
========================================================================== */
.download {
  padding: 120px 0;
  background-color: #4d8230; }

.download h1 {
  margin: 0 0 15px 0;
  color: #fff;
  font-weight: 400;
  font-size: 40px; }

/* ==========================================================================
Footer
========================================================================== */
footer p {
  color: #c7cacc;
  font-size: 12px; }

footer ul {
  margin-top: 30px; }

footer li {
  float: left;
  margin-right: 15%;
  list-style: none;
  text-transform: uppercase;
  font-weight: 400; }

footer li a {
  color: #4d8230; }

footer li:last-child {
  margin-right: 0; }

/* ==========================================================================
Nav Overlay
========================================================================== */
/* Overlay style */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); }

/* Menu style */
.menu-single {
  background: #2e4e1d;
  padding: 15px 0; }
  .menu-single .navicon {
    margin-top: 10px;
    color: #fff; }

.overlay nav {
  position: relative;
  top: 50%;
  height: 60%;
  text-align: center;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.overlay ul {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  list-style: none; }

.overlay ul li {
  display: block;
  float: left;
  margin-right: 20px; }

.overlay ul li:last-child {
  margin-right: 0px; }

.overlay ul li i {
  display: block;
  margin-bottom: 10px;
  font-size: 40px; }

.overlay ul li a {
  display: block;
  padding: 50px 0;
  min-width: 190px;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.overlay ul li a:hover, .overlay ul li a:focus {
  border-color: #a6c198;
  color: #a6c198; }

/* Effects */
.overlay-boxify {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s; }

.overlay-boxify.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.overlay-boxify nav ul li {
  opacity: 0;
  -webkit-transform: translate3d(0, -80px, 0);
  transform: translate3d(0, -80px, 0);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; }

.overlay-boxify.open nav ul:first-child li:first-child {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

.overlay-boxify.open nav ul:first-child li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.overlay-boxify.open nav ul:nth-child(2) li:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

.overlay-boxify.open nav ul:nth-child(2) li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.overlay-boxify.open nav ul li {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* ==========================================================================
Waypoints
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
  visibility: hidden; }

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible; }

.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

/* Extraness */
.header-note {
  margin-top: 20px;
  color: #fff !important; }
  .header-note ul, .header-note p {
    font-size: 1.57em; }

section.mailchimp {
  background-color: #f6f7f9; }
  section.mailchimp #mc_embed_signup {
    margin: 0 auto;
    overflow: hidden; }
    section.mailchimp #mc_embed_signup input {
      border-radius: 3px; }
    section.mailchimp #mc_embed_signup input[type="text"], section.mailchimp #mc_embed_signup input[type="email"] {
      border: solid 1px rgba(0, 0, 0, 0.3);
      padding: 10px; }
    section.mailchimp #mc_embed_signup input[type="submit"] {
      background: #4d8230;
      color: #fff;
      border: 0;
      padding: 10px 20px;
      transition: background 0.2s; }
      section.mailchimp #mc_embed_signup input[type="submit"]:hover {
        color: #4d8230;
        background: #a6c198; }
    @media (min-width: 980px) {
      section.mailchimp #mc_embed_signup {
        max-width: 600px; }
        section.mailchimp #mc_embed_signup label {
          width: 30%;
          text-align: right; }
        section.mailchimp #mc_embed_signup input[type="text"], section.mailchimp #mc_embed_signup input[type="email"] {
          width: 69%; }
        section.mailchimp #mc_embed_signup input[type="submit"] {
          float: right; } }
  section.mailchimp .mc-field-group, section.mailchimp .indicates-required {
    margin-bottom: 10px; }

.bg-black-opa {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px; }

.pipeline h2 {
  font-size: 18px;
  color: #fff; }

#footer {
  text-align: center;
  background: #2c5f2f;
  color: #fff; }
  #footer a {
    color: #a6c198;
    transition: opacity 0.2s; }
    #footer a:hover {
      opacity: 0.7; }

/* ==========================================================================
News / blog
========================================================================== */
.latest-news h2 {
  margin: 0; }

.meta-date {
  opacity: 0.5;
  font-style: italic;
  margin: 0; }

/* ==========================================================================
Twitter
========================================================================== */
.twitter-widget {
  font-family: 'Nunito', sans-serif; }
  @media (max-width: 992px) {
    .twitter-widget {
      clear: both;
      padding-top: 30px; } }

/* ==========================================================================
Recommended links
========================================================================== */
.introduction p {
  font-size: 1.4em;
  line-height: 1.3; }

.recommended-links,
.recommended-links-content > ul {
  list-style: none; }
  .recommended-links .fa,
  .recommended-links-content > ul .fa {
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    background: #fff;
    border-radius: 50%; }
    .recommended-links .fa:before,
    .recommended-links-content > ul .fa:before {
      font-size: 20px; }
  .recommended-links li,
  .recommended-links-content > ul li {
    margin-bottom: 10px; }
    .recommended-links li a,
    .recommended-links-content > ul li a {
      position: relative;
      display: block;
      padding: 5px 20px 20px 80px;
      background: rgba(77, 130, 48, 0.2);
      color: #333; }
      .recommended-links li a:hover,
      .recommended-links-content > ul li a:hover {
        background: rgba(77, 130, 48, 0.1);
        color: #4d8230; }

.aside-news {
  padding: 5px 15px;
  background: rgba(0, 0, 0, 0.1); }
  .aside-news ul {
    list-style: none; }
    .aside-news ul li {
      padding-left: 20px;
      position: relative; }
    .aside-news ul i {
      position: absolute;
      top: 4px;
      left: 0;
      font-size: 10px; }
  .aside-news a:hover {
    color: #333; }
  @media (min-width: 980px) {
    .aside-news {
      padding: 10px 25px; } }

/*# sourceMappingURL=app.css.map */
