{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="description" content="Falcon Grove Productions, based in Amsterdam, The Netherlands, was established in 2014 by David Grover to Produce English language feature films in Europe that will have international appeal." />
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="author" content="I.S" />

		<!-- Bootstrap -->
		<script src="/assets/js/modernizr.custom.js"></script>
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/css/jquery.fancybox.css" rel="stylesheet">
		<link href="/assets/css/flickity.css" rel="stylesheet" >
		<link href="/assets/css/animate.css" rel="stylesheet">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
		<link href="/assets/css/styles.css" rel="stylesheet">
		<link href="/assets/css/queries.css" rel="stylesheet">
		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />
</head>

<body>
	<header>
		<section class="">
			<div class="container">
				<div class="row nav-wrapper">
					<div class="col-md-6 col-sm-6 col-xs-6 text-left">
						<!-- <a href="#"></a> -->
						<a href="{{ siteUrl }}" class="link-light"><img src="{{ siteUrl }}assets/img/falcon-sm.png" alt="{{ siteName }}"></a>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
						<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
					</div>
				</div>
			</div>
		</section>
	</header>

	<main id="content" role="main">
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</main>

	<div class="overlay overlay-boxify">
		<nav>
			<ul>
				<li><a href="http://www.falcongrove.com/#featured-project"><i class="fa fa-flash"></i>Current project</a></li>
				<li><a href="http://www.falcongrove.com/#features"><i class="fa fa-video-camera"></i>About</a></li>
				<li><a href="http://www.falcongrove.com/#pipeline"><i class="fa fa-compass"></i>Pipeline</a></li>
				<li><a href="http://www.falcongrove.com/#subscribe"><i class="fa fa-desktop"></i>Subscribe</a></li>
				<li><a href="mailto:info@falcongrove.com"><i class="fa fa-envelope"></i>Contact</a></li>
			</ul>
		</nav>
	</div>

	<footer id="footer">
		copyright {{ now.year }} www.falcongrove.com. All rights reserved • kvk: 62585215 • <a href="/recommended-links"> Recommended links </a>
		<br><br>
		Crafted by <a href="http://ivanasetiawan.com" target="_blank">Ivana Setiawan</a>
	</footer>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="assets/js/min/toucheffects-min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="assets/js/flickity.pkgd.min.js"></script>
	<script src="assets/js/jquery.fancybox.pack.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="assets/js/retina.js"></script>
	<script src="assets/js/waypoints.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/min/scripts-min.js"></script>
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='//www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-XXXXX-X');ga('send','pageview');
	</script>

</body>
</html>
