{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_single" %}

{% block content %}

	<section class="features-list" id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="col-md-6 feature-1 wp2">
						<div class="feature-icon">
							<img src="assets/img/david.jpg" alt="David Grover">
						</div>
						<div class="feature-content">
							<h1>About the founder, David Grover</h1>
							<p>David Grover has lived in Amsterdam, The Netherlands since 2008 and is President and Founder of Falcon Grove Productions. For most of his professional life, he’s been a banker to the Media &amp; Telecom sector, having raised capital for his Media clients while based in London, New York and most recently Amsterdam.  He started Falcon Grove Productions to collaborate with like-minded people that are as excited as he is about the opportunities in a rapidly transforming content production and distribution environment.</p>
							<a href="mailto:david@falcongrove.com" class="read-more-btn">Write David <i class="fa fa-chevron-circle-right"></i></a>
						</div>
					</div>
					<div class="col-md-6 feature-2 wp2 delay-05s">
						<div class="feature-icon">
							<i class="fa fa-envelope"></i>
						</div>
						<div class="feature-content">
							<h1>Want to stay in touch?</h1>
							<p>Want to keep abreast of the latest from Falcon Grove? </p>

							<p> Please click below to sign up for our periodic updates!  If you have a question or comment for us, please don’t hesitate to fill out the contact from and we will get back to you with a reply as soon as we can.</p>
							<a href="mailto:info@falcongrove.com" class="read-more-btn"> Write us<i class="fa fa-chevron-circle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	

	<section class="download" id="download">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center wp4">
					<h1>Interested to know us?</h1>
					<a href="assets/img/BlindfoldVision_one-pager.pdf" class="download-btn">Download Blindfold Vision one pager</a>
					<a href="mailto:info@falcongrove.com" class="download-btn">Contact<i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
