{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<header>
		<section class="hero">
			<div class="texture-overlay"></div>
			<div class="container">
				<div class="row nav-wrapper">
					<div class="col-md-6 col-sm-6 col-xs-6 text-left">
						<!-- <a href="#"></a> -->
						<a href="{{ siteUrl }}" class="link-light"><img src="{{ siteUrl }}assets/img/falcon-sm.png" alt="{{ siteName }}"></a>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
						<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
					</div>
				</div>
				<div class="row hero-content">
					<div class="col-md-12">
						<h1 class="animated fadeInDown">
							{{ entry.introduction }}
						</h1>
						<div class="header-note">
							{{ entry.subIntroduction }}
						</div>
						<a href="#featured-project" class="use-btn animated fadeInUp">Featured Project</a> 
						<a href="#subscribe" class="use-btn animated fadeInUp">Subscribe to mailing list</a> 
						<a href="#why-fg" class="learn-btn animated fadeInUp">Get to know us <i class="fa fa-arrow-down"></i></a>
					</div>
				</div>
			</div>
		</section>
	</header>

	<section class="latest-news" id="latest-news">
		<div class="container">
			<h1>Recent News</h1>
			<div class="row">
				{% for entry in craft.entries.section('news').limit(2).find() %}
					<div class="col-md-6">
						<h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
						<p class="meta-date">Posted on {{ entry.postDate.format('F d, Y') }}</p>
						<p>{{ entry.articleIntro }}</p>
						<a href="{{ entry.url }}" class="read-more-btn">read more</a>
					</div>
				{% endfor %}
			</div>
	</section>
	
	<!-- FORM -->
	<section class="mailchimp" id="subscribe">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center">
					<h1>Subscribe to our mailing list</h1>
					<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup">
						<form action="//falcongrove.us10.list-manage.com/subscribe/post?u=7e89bce493ec027dd33387338&amp;id=b1f91c3fbc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
							<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
							<div class="mc-field-group">
								<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
							</div>
		
							<div class="mc-field-group">
								<label for="mce-FNAME">First Name </label>
								<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
							</div>
		
							<div class="mc-field-group">
								<label for="mce-LNAME">Last Name </label>
								<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
							</div>
	
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;"><input type="text" name="b_7e89bce493ec027dd33387338_b1f91c3fbc" tabindex="-1" value=""></div>

					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					    </div>
						</form>
					</div>
					<!--End mc_embed_signup-->
					<p style="clear: both; margin-top: 20px;"><a class="basic-button" href="/recommended-links">Recommended links</a></p>
				</div>

				<div class="col-md-6 twitter-widget text-center">
					<a class="twitter-timeline" href="https://twitter.com/falcongrovepro" data-widget-id="605079815918628865">Tweets by @falcongrovepro</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

						<p class="fb-btn">
							<a href="https://www.facebook.com/pages/Falcon-Grove-Productions/1437278903259558?fref=ts" target="_blank" class="basic-button blue">
								Find us on facebook:
								<i class="fa fa-facebook"></i>
							</a>
						</p>
				</div>
			</div>
		</div>
	</section>
	<!-- END: FORM -->

	<!-- This is the 3 intros -->
	<section class="features-intro" id="features">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 nopadding features-intro-img">
					<div class="features-bg">
						<div class="texture-overlay"></div>
						<div class="features-img wp1">
							<img src="assets/img/falcon-sm.png" alt="FG Logo">
						</div>
					</div>
				</div>
				<div class="col-md-6 nopadding">
					<div class="features-slider">
							<ul class="slides" id="featuresSlider">
								<li>
									<h1>{{ entry.featureSlideTitle1 }}</h1>
									{{ entry.featureSlideText1 }}
								</li>

								<li>
									<h1>{{ entry.featureSlideTitle2 }}</h1>
									{{ entry.featureSlideText2 }}
								</li>
							</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END: This is the 3 intros -->

	<section class="screenshots-intro" id="why-fg">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1>{{ entry.featureWhyFGTitle }}</h1>
					<p>{{ entry.featureWhyFGText }}</p>
				</div>
			</div>
		</div>
	</section>

	<section class="features-list" id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="col-md-6 feature-1 wp2">
						<div class="feature-icon">
							<img src="assets/img/david.jpg" alt="David Grover">
						</div>
						<div class="feature-content">
							<h1>{{ entry.featureAboutTitle }}</h1>
							{{ entry.featureAboutText }}
							<a href="mailto:david@falcongrove.com" class="read-more-btn">{{ entry.featureAboutLink }}<i class="fa fa-chevron-circle-right"></i></a>
						</div>
					</div>
					<div class="col-md-6 feature-2 wp2 delay-05s">
						<div class="feature-icon">
							<i class="fa fa-envelope"></i>
						</div>
						<div class="feature-content">
							<h1>{{ entry.featureConnectTitle }}</h1>
							{{ entry.featureConnectText }}
							<a href="mailto:info@falcongrove.com" class="read-more-btn"> {{ entry.featureConnectLink }}<i class="fa fa-chevron-circle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
	<section class="showcase" id="pipeline">
		<div class="showcase-wrap">
			<div class="texture-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="device wp3">
							<div class="device-content">
								<div class="showcase-slider">
									<ul class="slides" id="showcaseSlider">
										{% for image in craft.assets.kind('image').folderId(1) %}
											<li><img src="{{ image.getUrl('') }}"></li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 bg-black-opa pipeline">
						<h1>{{ entry.featureOurPipelineTitle }}</h1>
						{{ entry.featureOurPipelineText }}

						<h2>{{ entry.featureOurPipelineSubTitle1 }}</h2>
						<p>{{ entry.featureOurPipelineSubText1 }}</p>

						<h2>{{ entry.featureOurPipelineSubTitle2 }}</h2>
						<p>{{ entry.featureOurPipelineSubText2 }}</p>

						<h2>{{ entry.featureOurPipelineSubTitle3 }}</h2>
						<p>{{ entry.featureOurPipelineSubText3 }}</p>

						<blockquote class="team-quote">
							<div class="avatar"><img src="assets/img/avatar.png" alt="User Avatar"></div>
							<p>{{ entry.featureOurPipelineQuote }}</p>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="screenshots" id="featured-project">
		<div class="screenshots-intro">
			<div class="container ">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1>{{ entry.featureScreenshotTitle }}</h1>
						{{ entry.featureScreenshotText }}
						<a href="#subscribe" class="basic-button">Go to Subscribe</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<ul class="grid">

					{% for image in craft.assets.kind('image').folderId(2) %}
						<li>
							<figure>
								<img src="{{ image.getUrl('') }}">
								<figcaption>
								<div class="caption-content">
									<a href="{{ image.getUrl('') }}" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>View large</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>

	<section class="download" id="download">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center wp4">
					<h1>Interested to know us?</h1>
					<a href="assets/img/BlindfoldVision_one-pager.pdf" class="download-btn">Download Blindfold Vision one pager</a>
					<a href="mailto:info@falcongrove.com" class="download-btn">Contact<i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
