{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
		<header>
		<section class="menu-single">
			<div class="container">
				<div class="row nav-wrapper">
					<div class="col-md-6 col-sm-6 col-xs-6 text-left">
						<a href="{{ siteUrl }}" class="link-light"><img src="{{ siteUrl }}assets/img/falcon-sm.png" alt="{{ siteName }}"></a>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
						<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
					</div>
				</div>
			</div>
		</section>
	</header>
	
	<article class="container spacing-v">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>{{ entry.title }}</h1>
				<div class="introduction">
					{{ entry.subIntroduction }}
				</div>
				<div class="recommended-links-content">
					{{ entry.recommendedLinksContent }}
				</div>
			</div>
		</div>
	</article>
{% endblock %}
